<section *ngIf="scenario">
  <b>Scenario {{ id + 1 }} of {{ scenario.scenarios.length}}</b>
  <div class="hh">Choose the option that is the most correct</div>
  <p>
    {{ scenario.scenarios[id].text }}
  </p>
  <div class="h">What would your friend do?</div>
  <div class="radio-group">
    <label class="sm"><input type="checkbox" [(ngModel)]="required"  />Do not group me with people who answered different from me for this scenario</label>
  </div>
  <div class="option-links">
    <div *ngFor="let text of scenario.scenarios[id].choices">
      <a (click)="select(text)">{{ text }}</a>
      <div class="hh" *ngIf="user.quiz.friendScenarios[id.toString()]?.choice === text">
        Your current answer
      </div>
    </div>
    <a (click)="select()">Skip this scenario</a>
  </div>
</section>
