<section *ngIf="!state">
  Hang tight!
</section>
<section *ngIf="state === 'error'">
  Sadly, there was a error submitting your quiz.  We will look into this and hopefully fix it soon!
</section>
<section *ngIf="state === 'success'">
  <b>You're all set!</b>
  <p>
    We will contact you soon after we've discover potential friends for you.
  </p>
  <p>
    Tell more people about MoreFriends.org to increase your chances of finding a friend!
  </p>
  <p>
    You may now close this window.
  </p>
</section>
<footer>
  <a routerLink="/">Return to homepage</a>
</footer>
