<section>
  <b>MoreFriends.org</b> is a platform for adults (20+) who want to meet and talk with potential friends in person.
  <div class="sm m"><b>Disclaimers</b></div>
  <label><input type="checkbox" [(ngModel)]="user.quiz.legal.disclaimer" />I understand that meeting new people comes with associated risks and that I am using this platform at my own risk.</label><br />
  <br />
  <label><input type="checkbox" [(ngModel)]="user.quiz.legal.tos" />I certify that I am using MoreFriends.org only for the purpose of finding personal friends.  I am not soliciting, advertising, attempting to persuade others, attempting to harm others, or otherwise seeking something other than a personal friend.</label>
</section>
<footer>
  <a (click)="next()">Continue to basic information</a>
</footer>
