<section *ngIf="meetHasAlreadyBegun">
  <p>
    This meet already happened.
  </p>
  <b>What do you think about this platform? What would you change? What worked well?</b>
  <textarea placeholder="Enter your feedback here"></textarea>
  <a routerLink="/">Send this feedback</a><br /><br />
  <a routerLink="/">Tell us about a problem</a><br /><br />
  <a routerLink="/">Return to homepage</a><br /><br />

</section>
<section *ngIf="!meetHasAlreadyBegun">
  <p>
    Dear {{ user.name  || user.quiz.name || 'human' }},<br />
    <br />
    {{
      timeIsExpired ? 'A meet has been scheduled with you and 4 other people.' :
        'We found 4 people that match with who you are looking for.'
    }}
  </p>
  <p *ngIf="!timeIsExpired">
    <b>23 hours, 14 minutes</b><br />remaining time to choose a time and place.<br /><br />
    Once all attendees choose a time and place, the meet or meets will be scheduled.
  </p>
  <a routerLink="/" *ngIf="!timeIsExpired">Do not attend this meet</a>
  <ng-container *ngIf="timeIsExpired && place">
    <div class="h">Place</div>
    <a href="#">{{ place.name }}, {{ place.address }}</a>
    <div class="h">Time</div>
    <div>
      {{ place.date }}
    </div>
    <div class="map" [style.background-image]="'url(' + img(place.geo) + ')'">
      <div class="pin"></div>
    </div>
    <div class="sm">
      Can’t find each other?  Use the input below to help others find you, and we will send them a message on your behalf.
    </div>
    <input placeholder="Enter message here" class="m" />
    <a href="javascript:">Send this message to all attendees</a><br /><br />
  </ng-container>
  <hr *ngIf="!timeIsExpired" />
  <ng-container *ngFor="let x of suggestions">
    <p>
      Someone suggested <b>{{ x.name }}</b> at <b>{{ x.date }}</b>.<br />
    </p>
    <a href="#">{{ x.address }}</a>
    <div class="map" [style.background-image]="'url(' + img(x.geo) + ')'">
      <div class="pin"></div>
    </div>
    {{ meetChosen === x.id ? 'You and ' : '' }} {{ x.attendees }} {{ x.attendees === 1 ? 'person' : 'people' }} chose this time and place.<br />
    <a *ngIf="meetChosen !== x.id" href="javascript:" (click)="meetChosen = x.id">Also choose this time and place</a>
    <hr />
  </ng-container>
  <ng-container *ngIf="!timeIsExpired">
    <p>
      <b>Suggest {{ suggestions.length ? 'another' : 'a' }} place to meet</b>
    </p>
    <input placeholder="Search" [(ngModel)]="search" (ngModelChange)="autocomplete(search)" />
    <div class="autocomplete" *ngIf="placeSuggestions.length">
      <div *ngFor="let x of placeSuggestions" (click)="chooseAutocomplete(x)">
        {{ x.full }}
      </div>
    </div>
    <br *ngIf="searchName" />
    <br *ngIf="searchName" />
    <a href="#" *ngIf="searchName">{{searchName}}, {{searchAddress}}</a>
    <div class="map" *ngIf="searchMapImg" [style.background-image]="'url(' + searchMapImg + ')'">
      <div class="pin"></div>
    </div>

    <div class="h">Suggest a time</div>
    <select [(ngModel)]="searchDate">
      <option *ngFor="let day of days" [value]="day.time">{{ day.text }}</option>
    </select>
    <br />
    <input type="time" [(ngModel)]="searchTime" />
    <br />
    <br />
    <a href="javascript:" (click)="addMeetSuggestion()">Suggest this time and place</a><br /><br />
  </ng-container>
  <ng-container *ngIf="timeIsExpired">
    <a href="javascript:" (click)="meetHasAlreadyBegun = true">I can no longer attend this meet</a>
    <br />
    <br />
    <a href="javascript:" (click)="meetHasAlreadyBegun = true">Tell us about a problem</a>
    <br />
    <br />
  </ng-container>
  <a href="javascript:" *ngIf="!timeIsExpired" (click)="expired()">Reload</a>
</section>
