<section *ngIf="error">
  <p>
    Oh no, there was a problem.
  </p>
  <b>{{ error }}</b>
  <br />
  <br />
  <a routerLink="/">Return to homepage</a><br /><br />
</section>

<section *ngIf="loading">
  <p>
    Loading meet, please wait...
  </p>
  <b>{{ error }}</b>
  <br />
  <br />
  <a routerLink="/">Return to homepage</a><br /><br />
</section>

<section *ngIf="!error && attendedAndPassed(meet)">
  <p>
    This meet already happened.
  </p>
  <b>What do you think about this platform? What would you change? What worked well?</b>
  <textarea placeholder="Enter your feedback here"></textarea>
  <a routerLink="/">Send this feedback</a><br /><br />
  <a routerLink="/">Tell us about a problem</a><br /><br />
  <a routerLink="/">Return to homepage</a><br /><br />
</section>

<section *ngIf="!error && !loading && result && !attendedAndPassed(meet)">
  <p *ngIf="result.attend!.skip">
    You've opted to skip this meet.
  </p>
  <p *ngIf="!result.attend!.skip">
    Dear {{ user.name || user.quiz.name || 'human' }},<br />
    <br />
    <span *ngIf="step === 'vote'">
      We've grouped you with {{ result!.attendees! - 1 }} {{ result!.attendees! - 1 === 1 ? 'person' : 'people' }} that are potentially great friends for you.
      <span>
        <br />
        <br />
        You and {{ unconfirmed - 1 }} other {{ unconfirmed - 1 === 1 ? 'person' : 'people' }} have not yet selected a meet to attend.
      </span>
    </span>
    <span  *ngIf="step === 'confirm'">
      The following place has received the most votes.
    </span>
    <span *ngIf="step === 'scheduled'">
      <ng-container *ngIf="meet!.attendees === 1">
        The following meet has been scheduled. Additional people are still responding.
      </ng-container>
      <ng-container *ngIf="meet!.attendees > 1">
        A meet has been scheduled with you and {{ meet!.attendees! - 1 }} other {{ meet!.attendees! - 1 === 1 ? 'person' : 'people' }}.
        {{ meet!.attendees === result.attendees ? '' :  'Additional people may still respond and attend.' }}
      </ng-container>
    </span>
  </p>

  <ng-container *ngIf="meet">
    <div class="h">Place</div>
    <a [href]="ddg(meet.place)" target="_blank">{{ meet.place.name }}, {{ meet.place.address }}</a>
    <div class="h">Time</div>
    <div>
      {{ time(meet.place.date) }}
    </div>
    <div class="map" [style.background-image]="'url(' + img(meet.place.geo) + ')'">
      <div class="pin"></div>
    </div>
    <ng-container *ngIf="step === 'scheduled' && !result.attend!.skip">
      <div class="sm">
        Can’t find each other?  Use the input below to help others find you, and we will send them a message on your behalf.
      </div>
      <ng-container>
        <input [(ngModel)]="meetMessage" placeholder="Enter message here" class="m" />
        <a (click)="sendMeetMessage()">Send this message to all attendees</a>
        <br />
        <br />
      </ng-container>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="step === 'vote'">
    <ng-container *ngFor="let x of suggestions">
      <p>
        Someone suggested meeting at <b>{{ x.place.name }}</b> at <b>{{ time(x.place.date) }}</b>.<br />
      </p>
      <a [href]="ddg(x.place)" target="_blank">{{ x.place.address }}</a>
      <div class="map" [style.background-image]="'url(' + img(x.place.geo) + ')'">
        <div class="pin"></div>
      </div>
      {{ x.voted ? 'You and ' : '' }} {{ x.votes - (x.voted ? 1 : 0) }} {{ x.voted ? 'other' : '' }}  {{ x.votes - (x.voted ? 1 : 0) === 1 ? 'person' : 'people' }} voted for this time and place.<br />
      <a *ngIf="!x.voted" (click)="vote(x)">{{ votedAlready ? 'Change your vote to this place' : 'Vote for this place' }}</a>
      <hr />
    </ng-container>
  </ng-container>

  <ng-container *ngIf="step === 'vote' && !result.attend!.skip">
    <p>
      <b>Suggest {{ suggestions.length ? 'another' : 'a' }} place to meet</b>
    </p>
    <input placeholder="Search for a place" [(ngModel)]="search" (ngModelChange)="autocomplete(search)" />
    <div class="autocomplete" *ngIf="placeSuggestions.length">
      <div *ngFor="let x of placeSuggestions" (click)="chooseAutocomplete(x)">
        {{ x.full }}
      </div>
    </div>
    <br *ngIf="searchName" />
    <br *ngIf="searchName" />
    <a href="#" *ngIf="searchName">{{searchName}}, {{searchAddress}}</a>
    <div class="map" *ngIf="searchMapImg" [style.background-image]="'url(' + searchMapImg + ')'">
      <div class="pin"></div>
    </div>
    <div class="h">Suggest a time</div>
    <select [(ngModel)]="searchDate">
      <option *ngFor="let day of days" [value]="day.time">{{ day.text }}</option>
    </select>
    <br />
    <input type="time" [(ngModel)]="searchTime" (ngModelChange)="validateTime()" />
    <br />
    <br />
    <a (click)="addMeetSuggestion()">Suggest this time and place</a><br />
  </ng-container>

  <ng-container *ngIf="step === 'scheduled' && !result.attend!.skip">
    <a (click)="skipMeet()">I can no longer attend this meet</a>
    <br />
    <br />
    <a (click)="reportAProblem()">Tell us about a problem</a>
    <br />
    <br />
  </ng-container>

  <ng-container *ngIf="step === 'confirm' && !result.attend!.skip">
    <div class="h m">Does this time and place work for you?</div>
    <a (click)="confirm(true)">Yes, attend this meet</a><br /><br />
    <a (click)="confirm(false)">No, wait for a 2nd time and place to be proposed</a>
  </ng-container>

  <ng-container *ngIf="step === 'vote' && !result.attend!.skip">
    <hr />
    <a (click)="load()">Reload this page</a>
    <div class="sm m">
      <b>How do meets get scheduled?</b><br />
      <ol>
        <li>The people in this group suggest one or more places to meet</li>
        <li>Everyone votes on the suggested places</li>
        <li>A call is made for the place with the most votes, and the meet is scheduled</li>
        <li>If people remain, a call made made for the 2nd most voted place, and so on</li>
        <li>If a single person remains, people are able to attend a second meet to meet them as well</li>
      </ol>
    </div>
    <a (click)="skipMeet()">Do not attend this meet</a>
  </ng-container>

  <ng-container *ngIf="result.attend!.skip">
    <a (click)="unskipMeet()">Attend this meet</a>
  </ng-container>
</section>
