<section *ngIf="error">
  <p>
    Oh no, there was a problem.
  </p>
  <b>{{ error }}</b>
  <br />
  <br />
  <a routerLink="/">Return to homepage</a><br /><br />
</section>
<section *ngIf="loading">
  <p>
    Loading meet, please wait...
  </p>
  <b>{{ error }}</b>
  <br />
  <br />
  <a routerLink="/">Return to homepage</a><br /><br />
</section>
<section *ngIf="!error && meetHasAlreadyBegun && result">
  <p>
    This meet already happened.
  </p>
  <b>What do you think about this platform? What would you change? What worked well?</b>
  <textarea placeholder="Enter your feedback here"></textarea>
  <a routerLink="/">Send this feedback</a><br /><br />
  <a routerLink="/">Tell us about a problem</a><br /><br />
  <a routerLink="/">Return to homepage</a><br /><br />
</section>
<section *ngIf="!error && !meetHasAlreadyBegun && result">
  <p>
    Dear {{ user.name || user.quiz.name || 'human' }},<br />
    <br />
    <span *ngIf="timeIsExpired">
      A meet has been scheduled with you and {{ result?.attendees || '-' }} other {{ result?.attendees === 1 ? 'person' : 'people' }}.
    </span>
    <span *ngIf="!timeIsExpired">
      We've grouped you with {{ result?.attendees || '-' }} {{ result?.attendees === 1 ? 'person' : 'people' }} that are potentially great friends for you.
    </span>

  </p>
  <ng-container *ngIf="timeIsExpired && place">
    <div class="h">Place</div>
    <a href="#">{{ place.name }}, {{ place.address }}</a>
    <div class="h">Time</div>
    <div>
      {{ place.date }}
    </div>
    <div class="map" [style.background-image]="'url(' + img(place.geo) + ')'">
      <div class="pin"></div>
    </div>
    <div class="sm">
      Can’t find each other?  Use the input below to help others find you, and we will send them a message on your behalf.
    </div>
    <input placeholder="Enter message here" class="m" />
    <a href="javascript:">Send this message to all attendees</a><br /><br />
  </ng-container>
  <ng-container *ngFor="let x of suggestions">
    <p>
      Someone suggested <b>{{ x.name }}</b> at <b>{{ x.date }}</b>.<br />
    </p>
    <a href="#">{{ x.address }}</a>
    <div class="map" [style.background-image]="'url(' + img(x.geo) + ')'">
      <div class="pin"></div>
    </div>
    {{ x.voted ? 'You and ' : '' }} {{ x.attendees }} {{ x.attendees === 1 ? 'person' : 'people' }} voted for this time and place.<br />
    <a *ngIf="!x.voted" href="javascript:" (click)="vote(x)">{{ meetChosen ? 'Change your vote to this place' : 'Vote for this place' }}</a>
    <hr />
  </ng-container>
  <ng-container *ngIf="!timeIsExpired">
    <p>
      <b>Suggest {{ suggestions.length ? 'another' : 'a' }} place to meet</b>
    </p>
    <input placeholder="Search for a place" [(ngModel)]="search" (ngModelChange)="autocomplete(search)" />
    <div class="autocomplete" *ngIf="placeSuggestions.length">
      <div *ngFor="let x of placeSuggestions" (click)="chooseAutocomplete(x)">
        {{ x.full }}
      </div>
    </div>
    <br *ngIf="searchName" />
    <br *ngIf="searchName" />
    <a href="#" *ngIf="searchName">{{searchName}}, {{searchAddress}}</a>
    <div class="map" *ngIf="searchMapImg" [style.background-image]="'url(' + searchMapImg + ')'">
      <div class="pin"></div>
    </div>

    <div class="h">Suggest a time</div>
    <select [(ngModel)]="searchDate">
      <option *ngFor="let day of days" [value]="day.time">{{ day.text }}</option>
    </select>
    <br />
    <input type="time" [(ngModel)]="searchTime" (ngModelChange)="validateTime()" />
    <br />
    <br />
    <a (click)="addMeetSuggestion()">Suggest this time and place</a><br /><br />
  </ng-container>
  <ng-container *ngIf="timeIsExpired">
    <a (click)="meetHasAlreadyBegun = true">I can no longer attend this meet</a>
    <br />
    <br />
    <a (click)="meetHasAlreadyBegun = true">Tell us about a problem</a>
    <br />
    <br />
  </ng-container>
  <hr *ngIf="!timeIsExpired"  />
  <a *ngIf="!timeIsExpired" (click)="expired()">Reload this page</a>
  <div *ngIf="!timeIsExpired" class="sm m">
    <b>How do meets get scheduled?</b><br />
    <ol>
      <li>The people in this group suggest one or more places to meet</li>
      <li>Everyone votes on the suggested places</li>
      <li>A call is made for the place with the most votes, and the meet is scheduled</li>
      <li>If people remain, a call made made for the 2nd most voted place, and so on</li>
      <li>If a single person remains, people are able to attend a second meet to meet them as well</li>
    </ol>
  </div>
  <a routerLink="/" *ngIf="!timeIsExpired">Do not attend this meet</a>
</section>
