<section>
  <b>Your meet preferences</b>
  <div class="hh">Answer the following questions specifically about the meet you will attend</div>
  <div class="h">How closely must someone match what you described?</div>
  <div class="radio-group">
    <label><input type="checkbox" />&gt;90%</label><br />
    <label><input type="checkbox" />&gt;80%</label><br />
    <label><input type="checkbox" />&gt;70%</label><br />
    <label><input type="checkbox" />&gt;60%</label><br />
    <label><input type="checkbox" />&gt;50%</label><br />
  </div>
  <div class="h">What's okay at the meet?</div>
  <div *ngFor="let x of meetFacts">
    <div class="h">{{ x }}</div>
    <div class="radio-group">
      <label><input type="checkbox" />No</label>
      <label><input type="checkbox" />Doesn't matter</label>
      <label><input type="checkbox" />Yes</label>
    </div>
    <label class="sm"><input type="checkbox" />Do not match me with people who answered this differently</label>
  </div>
  <div class="h">What are good meet locations?</div>
  <div>
    <div class="radio-group">
      <label *ngFor="let x of meetLocations"><input type="checkbox" />{{ x }}<br /></label>
    </div>
  </div>
  <hr />
  <label class="sm"><input type="checkbox" />I understand that meeting new people comes with associated risks and that I am using this platform at my own risk.</label><br /><br />
  <label class="sm"><input type="checkbox" />I certify that I am using FindFriends.com only for the purpose of finding personal friends.  I am not soliciting, advertising, attempting to persuade others or otherwise seeking something other than a personal friend.</label>
</section>
<footer>
  <a routerLink="/submitted">Submit</a>
</footer>
