<section>
  <b>Hello!</b>
  <p>
    <b>Did you know</b> that you don't need to change who you are in order to find great friends?
  </p>
  <p>
    <b>MoreFriends.org</b> is a website to help you find great friends that live in your general area. Simply fill out the quiz and you will be matched with people
    similar to who you want to find.
  </p>
  <div class="note">
    All information you provide is confidential and is never shared with other users or leaves this platform.
  </div>
  <p>
    <b>How does it work?</b>
  </p>
  <ol>
    <li>You fill out a bit of information about yourself, and describe the friend you want to find by answering a series of questions</li>
    <li>You choose how close of a match you want, and a few other preferences for meeting potential friends</li>
    <li>Every Wednesday morning you will receive a message from the system with potential matches if they are found</li>
    <li>People who match can vote on a time and place to meet together</li>
    <li>Meet up and get to know each other. Don’t forget to ask each other a lot of questions.</li>
  </ol>
  <p>
    Spend just 15 minutes today filling out the following quiz and we'll do our best to find you a life long friend.
  </p>
  <p>
    Okay, let’s find some friends!
  </p>
  <a routerLink="/disclaimers">Start the quiz</a>
</section>
<aside>
  <div class="box note">
    <b>Modify your existing Quiz</b>
    <p>
      Enter the email address or phone number you used to create your quiz, then enter the
      6-digit code we send you.
    </p>
    <p>
      You can then re-enable, disable, modify, or remove your existing quiz.
    </p>
    <form>
      <input placeholder="Phone number or email" />
    </form>
    <a>Send me a code</a>
  </div>
  <div class="box note">
    <b>Make a suggestion for MoreFriends.org</b>
    <p>
      Are we missing important questions or scenarios in the quiz? Suggest an improvement!
    </p>
    <form>
      <input placeholder="Share your idea" />
    </form>
    <a>Send suggestion or feedback</a>
  </div>
</aside>
