<section>
  <b>Hello!</b>
  <p>
    FindFriends.com is a website to find true friends that live in your general area. Simply fill out the quiz and you will be matched with people
    similar to who you want to find.
  </p>
  <div class="note">
    No information you provide is ever shared with other users on this platform.
  </div>
  <p>
    <b>How does it work?</b>
  </p>

  <ol>
    <li>You fill out facts about you, your core values, and answer how you would react in a number of scenarios</li>
    <li>You choose how close of a match you want to find to your facts, values, and scenario choices</li>
    <li>Every 2 weeks you will receive a message from the system with the number people that match your preferences</li>
    <li>People who match can vote on a location and time to meet up</li>
    <li>Meet up and get to know who is who, don’t forget to ask each other a lot of questions.</li>
  </ol>
  <p>
    Okay, let’s find some friends!
  </p>
  <a routerLink="/begin">Start the quiz</a>
</section>
<aside>
  <div class="box note">
    <b>Modify your existing Quiz</b>
    <p>
      Enter your contact method to enable, disable, modify, or remove your existing quiz
    </p>
    <form>
      <input placeholder="Phone number or email" />
    </form>
  </div>
  <div class="box note">
    <b>Make a suggestion for FindFriends.com</b>
    <p>
      Are we missing important questions or scenarios in the quiz? Suggest an improvement!
    </p>
    <form>
      <input placeholder="Share your idea" />
    </form>
  </div>
</aside>
