aside {
  padding: 1rem;

  .box {
    margin-top: 1rem;
  }
}

.note {
  background: antiquewhite;
  border: 1px solid bisque;
  border-radius: .25rem;
  padding: 1rem;
}

ol > li {
  margin-bottom: .5rem;
}
